.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
vendor/
homestead/
node_modules/
storage/*.key
storage/app/backups/*
storage/app/snapshots/*
storage/framework/cache/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/storage
public/hot
.DS_Store
Thumbs.db
*.log
*.pid
*.seed
*.dump
.idea
.vscode